* {
    margin: 0px;
    padding: 0px;
}
/* Navbar CSS */
#navbar {
    position: fixed;
    width: 100%;
    height: 168px;
    border: 1px solid #d6d2d2;
    z-index:1;
    background-color: white;
}

#nav1 {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #ffdada;
}

#nav1>div {
    display: flex;
}

#nav1>div>img {
    width: 15px;
    height: 15px;
}

#nav1_1 {
    margin-left: 100px;
    margin-top: 13px;
}

#nav1>h5 {
    margin-left: 30px;
    margin-top: 13px;
}

#nav1_2 {
    margin-left: 800px;
    margin-top: 10px;
}

#nav1_1>p {
    margin-left: 8px;
    font-size: 13px;
}

#nav1_2>p {
    margin-left: 8px;
}

#nav2 {
    display: flex;
    width: 100%;
    height: 60px;
}

#nav2_img1 {
    width: 180px;
    height: 50px;
    margin-left: 120px;
    margin-top: 10px;
}

#nav2_img1:hover {
    cursor: pointer;
}

#searchProduct {
    border: none;
    width: 400px;
    height: 40px;
    margin-top: 18px;
    margin-left: 20px;
    border-radius: 3px;
}

input.nosubmit {
    /* border: 1px solid #555; */
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    background-color: rgb(233, 233, 255);
    font-size: 15px;
}

#nav2_img2 {
    width: 30px;
    height: 30px;
    margin-left: 30%;
    margin-top: 15px;
}

#nav2_img2:hover {
    cursor: pointer;
}

#nav2_img3 {
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 15px;
}

#nav2>div {
    display: flex;
}

#nav2>div:hover {
    cursor: pointer;
}

#user-name {
    margin-top: 15px;
    margin-left: 5px;
}

/* dropdownlist Products */
#nav3 {
    width: 80%;
    margin-left: 50px;
    display: flex;
    /* background-color: rgb(251, 249, 249); */
    justify-content: space-evenly;
    padding: 18px;
    padding-bottom: 0px;
    position: sticky;
    /* top: 0px; */
}

#nav3>div {
    display: flex;
}

#nav3>div>div>p {
    margin-left: 32px;
    margin-top: 14px;
    font-size: 14.5px;
    cursor: pointer;
    margin-bottom: 20px;
    
}
#nav3>div>div>p:hover{
    color: black;
    border-bottom: 2px solid pink;
}

#nav3>div>p {
    margin-left: 32px;
    margin-top: 14px;
    font-size: 14.5px;
    cursor: pointer;
    margin-bottom: 20px;
}
#nav3>div>p:hover{
    color: black;
    border-bottom: 2px solid pink;
}
#nav3>div>div>p:hover{
    color: black;
    border-bottom: 2px solid pink;
}

#nav3>div>h3 {
    color: rgb(41, 41, 239);
    margin-left: 25px;
    cursor: pointer;
}

#nav3>div>img {
    left: 40px;
    height: 40px;
    position: fixed;
}

.boxNav {
    float: left;
    overflow: hidden;
}

.downBox {
    margin-top: 50px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    border: 1px solid rgb(214, 210, 210);
    z-index: 1;
}

.downBox>p {
    cursor: pointer;
    margin: 15px 20px;
    color: rgb(104, 98, 98);
}
.downBox > p:hover{
    color: black;
    border-bottom: 2px solid pink;
}

.boxNav:hover .downBox {
    display: block;
}

.fulBox {
    float: left;
    overflow: hidden;
}

.fDownBox {
    display: none;
    position: absolute;
    left: 30px;
    background-color: #ffffff;
    width: 80%;
    margin-top: 50px;
    border: 1px solid rgb(236, 231, 231);
    z-index: 1;
}

.fulBox:hover .fDownBox {
    display: block;
    display: flex;
    justify-content: space-evenly;
}

.fDownBox p {
    color: rgb(91, 83, 83);
    font-size: 14px;
    cursor: pointer;
    margin-top: 13px;
}
.fDownBox div > p :hover{
    border-bottom: 2px solid pink;
}
.fDownBox img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 20px;
}

.fDownBox img+h5+p {
    margin-bottom: 30px;
    text-align: center;
}

.fDownBox>div+div~div>h5 {
    margin-top: 40px;
}

#imgNav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px 25px;
}

#imgNav>img {
    width: 110px;
    height: 100px;
    cursor: pointer;
}