
#foooter {
    font-family: "Poppins", sans-serif;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
  }
  #sub-head{
    margin-left: 10px;
  }
  #sub-head1{
    margin-left: 40px;
    margin-top: 10px;
  }
  #sub-head2{
    margin-left: 25px;
    margin-top: 10px;
  }
  #sub-head3{
    margin-left: 40px;
    margin-top: 10px;
  }
  .footer-col ul {
    list-style-type: none;
    margin-left: -5px;
  }
  .footer-col ul a {
    text-decoration: none;
    color: #66555c;
    line-height: 30px;
    font-size: 13px;
  }

  .footer-col p {
    padding-left: 30px;
    font-size: 14px;
  }
  .icons {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 50%;
    margin-top: 75px;
  }
  .icons div {
    display: grid;
    margin: auto;
    padding: 8px;
  }
  .footer-p {
    font-size: 14px;
    /* text-align: center; */
    line-height: 10px;
    margin-top: 30px;
  }
  footer {
    margin-top: 300px;
    margin-bottom: 60px;
    background-color: #f9f9f9;
    padding-top: 50px;
  }
  .row {
    display: flex;
    justify-content: space-evenly;
  }
  .para {
    width: 300px;
  }
  .footer-icon > a > img{
    height: 33px;
  }
  .footer-p{
    display: flex;
    justify-content: space-evenly;
  }
  #fp1 > p{
    font-size: 15px;
    margin-bottom: 20px;
  }
  #fp1 > input{
    width: 270px;
    height: 40px;
    font-size: 15px;
    border: 1px solid black;
    padding-left: 10px;
  }
  #fp1 > button{
    width: 150px;
    height: 43px;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding-top: -3px;
    margin-left: -4px;
  }
  #fp2{
    display: flex;
    margin-top: 40px;
  }
  #fp2 > div{
    display: flex;
    justify-content: space-evenly;
  }
  #fp2 > div > img{
    width: 20px;
    height: 20px;
  }
  #fp3 > div > img{
    width: 120px;
  }
  #fp3 > div{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
.footer-col > p:hover{
    color: gold;
}
.footer-col > ul > li :hover{
    color: gold;
}