h1{
    text-align: center;
}
body {
    font-family: var(--fontFamily);
    font-weight: 400;
}

#ashubigbox{
    width:100%;
    margin: auto;
    margin-top: 200px;
    z-index: 1;
}

/* 
#ashuhandle{
border: 1px solid red;
width: 90%;
margin: auto;
} */

.ashucontainer{
    /* border: 1px solid red; */
    /* width: 90%; */
    /* height: 750px; */
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: (1,auto);
    gap: 20px;
    margin: auto;
}


.ashucontainer > div {
    border: 1px solid blue;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-top-color: rgb(229, 231, 235);
    border-top-style: solid;
    border-top-width: 0px;
    border-right-color: rgb(229, 231, 235);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: rgb(229, 231, 235);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(229, 231, 235);
    border-left-style: solid;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border: 1px solid rgb(211, 204, 204);
}

 

#imdiv{
    border: 1px solid brown;
    width: 80%;
    margin: auto;
    margin-top: 20px;
} 


img{
    width: 100%;
    height: 250px;
    vertical-align: middle;
    /* border: 0; */
}


/* ----------------- */

#info{
    /* border: 1px solid blue; */
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


#brand{
    font-size: 14px;
    font-weight: 600;
    float: left;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


#des{
    font-size: 20px;  
    opacity: .7;
    line-height: 30px;
    letter-spacing: .66px;
} 


/*  
#des{
    letter-spacing: .66px;
    margin: 4px 0 0;
    text-align: left;
    height: 80px;
    opacity: .7;
    font-size: 12px;   
    line-height: 20px;
} */


#pricdiv{
   /* border: 1px solid yellow; */
   width: 80%;
   margin-top: 50px;
   margin: auto;
    height: 50px;
    font-size: 20px;
}


/* 
*, :after, :before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
 */
